/*
  RESET & BASIC SETUP
  */
*         { margin: 0; padding: 0; }
body      { font-size: 80%; 
	    font-family: 'Lucida Grande', Helvetica, sans-serif;
	    background: #121212; padding: 20px; color: #999; }
table tr  { vertical-align: top; }							
/*
  STRUCTURE
  */
.post 	{ width: 300px;
	  padding-right: 20px; }
.footer	{ position: fixed;
	  top: 1em;
	  right: 1em;
	  text-align: right; }

/*
  TYPOGRAPHY
  */
p	{ font-size: 1.2em; margin: 0 0 15px 0; }
h1	{ font-family: Helvetica, sans-serif; font-size: 4.0em;
	  letter-spacing: -1px; color: #ccc; }
h2	{ font-family: Helvetica, sans-serif; font-size: 3.0em;
	  letter-spacing: -1px; color: #ccc; }
a	{ color: #0066cc; }
a:hover	{ color: #ccc; }
li	{ font-size: 1.2em; margin: 0 0 0 25px; }